@use '../utils/variables';

.customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;

  &__icons {
    color: variables.get-color('social-icon');
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: variables.get-space('button-radius');
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms variables.get-animation('cubic-bezier'), border-color 250ms variables.get-animation('cubic-bezier');

    &:hover,
    &:focus {
      color: variables.get-color('blue');
      border: 1px solid variables.get-color('blue');
      cursor: pointer;
    }
  }
}




