@use '../utils/variables';
@use '../utils/mixins';


.team {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 30px;

  @include mixins.breakpoint-mobile {
    flex-flow: column nowrap;
    padding: 0 15px;
  }

  @include mixins.breakpoint-tablet-por {
    flex-flow: row wrap;
    padding: 0 15px;
  }

  > li {
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    width: 100%;
    flex-basis: 25%;

    @include mixins.breakpoint-mobile {
      flex-basis: 100%;
    }

    @include mixins.breakpoint-tablet-por {
      width: 100%;
      flex-basis: 48%;
    }

  }

  &__socials-wrapper {
    margin-top: 16px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: variables.get-color('social-icon');

    > li:hover,
    > li:focus {
      background-color: variables.get-color('blue');
    }

    li {
      border-radius: 50%;
      text-align: center;
      width: 44px;
      height: 44px;
      padding: 12px;
      cursor: pointer;
      transition: color 250ms variables.get-animation('cubic-bezier'), background-color 250ms variables.get-animation('cubic-bezier');
    }

    > li {
      box-sizing: border-box;
      color: variables.get-color('social-icon');

      &:hover,
      &:focus {
        color: variables.get-color('white-first');
      }
    }
  }

  &__background {
    background-color: variables.get-color('portfolio-button');
  }

  &__figure {
    margin: 0;
    background-color: variables.get-color('white-first');

    figcaption {
      padding: 30px 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__name-title {
    color: variables.get-color('black');
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }

  &__position {
    text-align: center;
  }

  &__name-title,
  &__position {
    line-height: 1.17;
    margin: 0;
    font-size: 16px;
  }
}
